* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

article {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

h2,
h3 {
  text-transform: uppercase;
}

h2 {
  background-color: #e7e7e7;
  text-align: center;
  padding: 20px;
  position: relative;
}

h2::after {
  content: 'SALE';
  position: absolute;
  top: -18px;
  left: -30px;

  background-color: red;
  color: white;
  font-size: 10px;
  letter-spacing: 3px;
  padding: 10px;
}

p strong {
  font-size: 20px;
}

#highlight {
  color: rgb(138, 138, 134);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

a:link {
  color: black;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: square;
  margin-left: 20px;
}

button {
  border-top: 5px solid black;
  background-color: black;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
}

button:hover {
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.bottom {
  margin-bottom: 20px;
}

.less {
  margin-bottom: 10px;
}

#less {
  font-size: 30px;
}

ul:first-of-type li {
  display: inline-block;
  list-style: none;
}

#li1 {
  margin-left: 0px;
  padding: 10px;
  background-color: black;
}
#li2 {
  padding: 10px;
  background-color: blue;
}
#li3 {
  padding: 10px;
  background-color: red;
}
#li4 {
  padding: 10px;
  background-color: yellow;
}
#li5 {
  padding: 10px;
  background-color: orange;
}
#li6 {
  padding: 10px;
  background-color: brown;
}
